body{
  font-family: 'Roboto', sans-serif;
}

.MainContainer{
  padding: 6% 12%;
  margin-top: 32px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}

.ProductPreview{
  width: 50%;
  position: relative;
}

.ProductData{
  width: 50%;
}
